:root {
    --green: #9fea63;
    --blue: #3ba9f4;
    --dark: #282c34;
    --neka: #525252;
}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.pozadina{
    background-image: url(background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(5px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.kalkulator{
  
    z-index: 3;
    position: absolute;
    width: 20%;
    margin-top: 15%;
    margin-left: 40%;

}

table{
    margin: 0 auto;
    width: 100%;
    border-left: none;
    border-right: none;
    border-bottom: 5px solid var(--neka);
    border-top: 10px solid var(--neka);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-spacing: 0;
}

td{
    border-style: none;
    background-color: var(--neka);
}

input[type="button"] 
{ 
  background-color:var(--neka); 
  color: white; 
  width:100%;
  height: 70px;
  font-size: 25px;
  border: none;
  border-spacing: 0;
}
input[type="button"]:hover
{
  background-color: var(--dark);
}

input[type="button"]:focus
{
  outline: none;
}

input[type="text"] 
{ 
  background-color:white; 
  width:100.1%;
  height: 120px;
  font-size: 30px;
  border: none;
}

@media(max-width: 1440px)
{
  .kalkulator{
      margin-left: 37.5%;
      width: 25%;
  }
}
@media(max-width: 1122px)
{
  .kalkulator{
      margin-left: 32.5%;
      width: 35%;
  }
}

@media(max-width: 750px)
{
  .kalkulator
  {
    width: 40%;
    margin-left: 30%;
  }
}
@media(max-width: 650px)
{
  .kalkulator
  {
    width: 45%;
    margin-left: 27.5%;
  }
}
@media(max-width: 550px)
{
  .kalkulator
  {
    width: 65%;
    margin-left: 17.5%;
  }
}
